<div class="container">
    <h2>Editar Persona</h2>
    <form [formGroup]="personaForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" formControlName="nombre" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input id="telefono" type="text" formControlName="telefono" class="form-control">
      </div>
      <div class="form-group">
        <label for="imagen">Imagen</label>
        <input id="imagen" type="text" formControlName="imagen" class="form-control">
      </div>
      <div class="form-group">
        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
        <input id="fecha_nacimiento" type="date" formControlName="fecha_nacimiento" class="form-control">
      </div>
      <div class="form-group">
        <label for="comentario">Comentario</label>
        <textarea id="comentario" formControlName="comentario" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
  </div>
  